<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        insert into order_detail
        (id,name,image,order_id,dish_id,setmeal_id,dish_flavor,number,amount)
        values
        <foreach collection="orderDetails" item="od" separator=",">
            (#{od.id},#{od.name},#{od.image},#{od.orderId},#{od.dishId},#{od.setmealId},#{od.dishFlavor},#{od.number},#{od.amount})
        </foreach>
    </insert>

    <select id="getTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select count(*) as number , name from order_detail
        where order_id in
        <foreach collection="orderIds" item="od" open="(" close=")" separator=",">
            #{od}
        </foreach>
        group by name
        order by number desc
        limit  10
    </select>
</mapper>