<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.UserMapper">
        <insert id="insert" useGeneratedKeys="true" keyProperty="id">
            insert into user
            (id,openid,name,phone,sex,id_number,avatar,create_time)
            values
            (#{id},#{openid},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{createTime})
        </insert>
    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="end != null">
                and create_time &lt; #{end}
            </if>
        </where>
    </select>
<!--      新增用户数量 -->
    <select id="getTotalUsers" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="begin != null">
                create_time &gt; #{begin}
            </if>

            <if test="end != null">
                and  create_time &lt; #{end}
            </if>
        </where>
    </select>
</mapper>